* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
}
.list {
    text-align: center;
}
.box {
    width: 70px;
    height: 70px;
    display: inline-block;
}