
*{
  margin: 0;
  padding:0;
}

body {
    background: #fffdfa;
    color: #332100;
  }
  
.app{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.palettes{
  height:100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.palette{
 display:flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.color{
  height:100px;
  width:100px;
}

