body {
  background: #fffdfa;
  color: #332100;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-gap: 20px;
  list-style: none;
  margin: 0 auto;
  padding: 40px;
  width: 640px;
}

.news__item {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  background: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.news__title {
  font-size: 16px;
}

.news__image {
  display: block;
  width: 100%;
}

.news__item--from-mars {
  border-color: #bc2731;
  box-shadow: 0 1px 4px rgba(188, 39, 49, 0.6);
}
.news__item--from-mars .news__title {
  color: #bc2731;
}
.news__item--from-mars .news__image {
  box-shadow: 0 0 0 3px rgba(188, 39, 49, 0.8);
  border-radius: 5px;
}

.news__item--no-image-visible .news__image {
  display: none;
}

/* colors palette */

.colors {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.7);
  margin: 0 auto;
}

.color__item {
  width: 100px;
  height: 100px;
}

.color__header {
  font-style: italic;
}

.palettes__container {
  margin: 0;
  padding: 0;
  list-style: none;
}

.favorite {
  margin-left: 20px;
  cursor: pointer;
}

.hidden {
  display: none;
}

/* form */

.search__form {
  margin: 40px 0;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search__input {
  padding: 5px 10px;
  margin: 20px;
}
