body {
  background: #fffdfa;
  color: #332100;
  margin: 0;
  
}

.main{
  min-height: 100vh;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.list__palette{
  height: 200px;
  display: flex;
}

.color__item{
  height: 200px;
  width: 200px;
}