
*{
  margin: 0;
  padding:0;
}

body {
    background: #fffdfa;
    color: #332100;
  }
  
.app{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.palette{
  list-style:none;
  display:flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.color{
  height:200px;
  width:200px;
}

