body {
  background: #fffdfa;
  color: #332100;
  margin: 0;
}

.palettes {
  list-style: none;
  margin: 0;
  padding: 0;
}

.palette {
  text-align: center;
  padding: 0 20px;
}

.palette__colors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media all and (min-width: 600px) {
  .palette__colors {
    flex-direction: row;
  }
}

.palette__color {
  width: 100px;
  height: 100px;
}
