body {
  background: #fffdfa;
  color: #332100;
  margin: 0;
}

.content {
  width: 250px;
  height: 150px;
  padding: 5px 50px;
  margin: 100px auto;
  background-color: rgba(168, 166, 166, 0.315);
  border-radius: 10px;
}

.content-title {
  width: 250px;
}
.colors-box {
  width: 60px;
  height: 60px;
}

.content-color{
  display: flex;
  width: 250px;
  box-shadow: 5px 3px 12px 0px rgba(0,0,0,0.36);
}